]/* CSS Document */


@font-face {
  font-family: 'Source Sans Pro';
  src : url('SourceSansPro-Light.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src : url('SourceSansPro-Regular.otf');
}



*{margin:0;padding:0;outline:none;font-family:"Source Sans Pro";}

body{background:#fff;font-family:"Source Sans Pro";}

a{color:#004e9e;text-decoration:none;}
a:hover{text-decoration:underline;}

.clear{clear:both;}

::-moz-selection { /* Code for Firefox */
    color: #F3F3F3;
    background: #004e9e;
}

::selection {
    color: #F3F3F3;
    background: #004e9e;
}

.topbar {
width: 100%;
min-height: 35px;
background: #808080;
margin-bottom: 0px;
}

.container {
width: 1130px;
margin: auto;
}

.topbar .quote {
float: right;
margin: -5px 0px 0px 0px;
width: 50px;
}

.header {
width: 100%;
position: relative;
background: url("../images/header-bg.jpg") repeat-x;
background-size: contain;
}

.header .logo {
float: left;
position: relative;
width: 152px;
z-index: 9999;
margin: -36px 0px -53px 0px;
}

.header .top-contacts {
float: right;
margin: 35px 0px 0px 40px;
}

#sunweb {
color: #fff;
margin: 11px;
text-align: center;
float: right;}

.header .top-contacts li {
display: inline;
margin: 0px 10px 0px 5px;
float: left;
}

.top-contacts #phone {
color: #cbcbcb;
font-size: 30px;
padding: 0px 5px 0px 0px;
margin: -5px 0px 0px 0px;
background: none;
}

.top-contacts #email{
color: #cbcbcb;
font-size: 20px;
padding: 0px 5px 0px 0px;
background: none;
}

.top-contacts .social {
color: #cbcbcb;
margin: 0px 10px 0px 10px;
}

.top-contacts .social:hover{color:#004e9e;}

.header .top-contacts li span {
color: #81898b;
float: right;
margin: 0px 0px 0px 5px;
}

/*======================Menu start here*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.menu-bg {
background: url("../images/menu-center-bg.png") repeat-x #004e9e;
background-size: 84px;
margin: 0px 0px 20px 0px;
}

#menu-icons {
font-size: 14px;
line-height: 10px;
padding: 0px 6px 0px 0px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}

#cssmenu {
font-family: Montserrat, sans-serif;
background: url("../images/menu-center-bg.png") repeat-x;
background-size: 84px;
padding: 0px 0px 0px 150px;
}

#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
padding: 15px;
font-size: 14px;
letter-spacing: 1px;
text-decoration: none;
color: #fff;
text-transform: capitalize;
font-weight: lighter;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index:9999;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 190px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen ul {
  width: 100%;
  display: none;
}
#cssmenu.small-screen.align-center > ul {
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
  height: auto;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
}
#cssmenu.small-screen > ul > li {
  float: none;
}
#cssmenu.small-screen ul ul li a {
  padding-left: 25px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left: 35px;
}
#cssmenu.small-screen ul ul li a {
  color: #dddddd;
  background: none;
}
#cssmenu.small-screen ul ul li:hover > a,
#cssmenu.small-screen ul ul li.active > a {
  color: #ffffff;
}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 17px;
  color: #dddddd;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
#cssmenu.small-screen #menu-button:after {
  position: absolute;
  top: 22px;
  right: 17px;
  display: block;
  height: 4px;
  width: 20px;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  content: '';
}
#cssmenu.small-screen #menu-button:before {
  position: absolute;
  top: 16px;
  right: 17px;
  display: block;
  height: 2px;
  width: 20px;
  background: #dddddd;
  content: '';
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  top: 23px;
  border: 0;
  height: 2px;
  width: 15px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  top: 23px;
  background: #ffffff;
  width: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  height: 46px;
  width: 46px;
  cursor: pointer;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
  background: #262626;
}
#cssmenu.small-screen ul ul .submenu-button {
  height: 34px;
  width: 34px;
}
#cssmenu.small-screen .submenu-button:after {
  position: absolute;
  top: 22px;
  right: 19px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:after {
  top: 15px;
  right: 13px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:after {
  background: #ffffff;
}
#cssmenu.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right: 22px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  display: none;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}

/*================================Start Slider css*/

.da-slider {
width: 100%;
min-width: 520px;
height: 400px;
position: relative;
margin: 30px auto;
overflow: hidden;
border-top: 2px solid #000000;
border-bottom: 2px solid #000000;
box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
-webkit-transition: background-position 1s ease-out 0.3s;
-moz-transition: background-position 1s ease-out 0.3s;
-o-transition: background-position 1s ease-out 0.3s;
-ms-transition: background-position 1s ease-out 0.3s;
transition: background-position 1s ease-out 0.3s;
}

.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
	left: 10%;
	opacity: 1;
}
.da-slider-fb .da-slide .da-img{
	left: 60%;
	opacity: 1;
}
.da-slide h2 {
color: #fff;
font-size: 46px;
width: 50%;
top: 30px;
white-space: nowrap;
z-index: 10;
text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
font-family: 'Economica', Arial, sans-serif;
font-weight: 700;
}
.da-slide p{
	width: 45%;
	top: 95px;
	color: #EBEBEB;
	font-size: 13px;
	line-height: 26px;
	height: auto;
	overflow: hidden;
	font-style: italic;
	font-family: 'Economica', Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}
.da-slide .da-img{
	text-align: center;
	width: 30%;
	top: 70px;
	height: 256px;
	line-height: 320px;
	left: 110%; /*60%*/
}
.da-slide .da-link {
top: 270px;
color: rgba(255, 255, 255, 0.61);
border: 2px solid rgba(255, 255, 255, 0.31);
padding: 2px 20px 0px;
font-size: 18px;
line-height: 39px;
width: 100px;
text-align: center;
background: #004e9e;
}
.da-slide .da-link:hover{
	background: rgba(255,255,255,0.3);
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #002347;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #00468F;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out-out 0.2s;
	transition: opacity 0.4s ease-in-out-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
	left: 10%;
	opacity: 1;
}
.da-slide-current .da-img{
	left: 60%;
	opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
	-webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright p{
	-webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright .da-link{
	-webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
	-webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	-ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
	-webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft p{
	-webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft .da-link{
	-webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	-ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
	animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
	-webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	-ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-toright p{
	-webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
	-webkit-animation: toRightAnim3 0.4s ease-in-out both;
	-moz-animation: toRightAnim3 0.4s ease-in-out both;
	-o-animation: toRightAnim3 0.4s ease-in-out both;
	-ms-animation: toRightAnim3 0.4s ease-in-out both;
	animation: toRightAnim3 0.4s ease-in-out both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in-out both;
	-moz-animation: toRightAnim4 0.6s ease-in-out both;
	-o-animation: toRightAnim4 0.6s ease-in-out both;
	-ms-animation: toRightAnim4 0.6s ease-in-out both;
	animation: toRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
	-webkit-animation: toLeftAnim1 0.6s ease-in-out both;
	-moz-animation: toLeftAnim1 0.6s ease-in-out both;
	-o-animation: toLeftAnim1 0.6s ease-in-out both;
	-ms-animation: toLeftAnim1 0.6s ease-in-out both;
	animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
	-webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	-ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
	-webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	-ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	-ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

#slide1 {
background: url("../images/slides1.jpg") #004e9e no-repeat;
background-size:cover;
}#slide2 {
background: url("../images/slides2.jpg") #004e9e no-repeat;
background-size:cover;
}#slide3 {
background: url("../images/slides3.jpg") #004e9e no-repeat;
background-size:cover;
}

#slide1 h2 {
color: #90c404;
font-size: 32px;
padding: 0;
}



.imag1 {
width: 450px;
margin: -70px 0px 0px 0px;
}

/*====================================End slider*/

/*============Start coustom*/

.title {border-bottom: 2px solid #d8d8d8;width: 100%;margin: auto;}
.title h2 {font-weight: lighter;color:#004e9e;}
.title h2 span{color: #373737;}

.title img {
float: right;
position: relative;
margin: -2px 20px 0px 0px;
width: 36px;
}

.title h2 i {color: #C7C7C7;font-size: 20px;}

.col .image img {
width: 100%;
padding: 3px 4px 4px 4px;
float: left;
}

.col .image {
float: left;
width: 24%;
background: none;
box-sizing: border-box;
padding: 0px 6px 0px 0px;
}

.col h1 {
color: #5A5A5A;
font-size: 18px;
float: left;
padding: 4px 0px 4px 10px;
width: 100%;
font-weight: bold;
}

.col h1 span {
border-bottom: 0px solid #004e9e;
}

.col ul {
float: left;
margin: 0px 0px 10px 10px;
width: 100%;
}

.col ul li {list-style-position: inside;width: 100%; list-style-image:url(../images/bullet.png);}

.col {
float: left;
width: 326px;
margin: 0px 15px 40px 15px;
background-color: #F8F8F8;
border: 1px solid #D5D5D5;
border-radius: 6px;
overflow: hidden;
background-image: url("../images/box-bg.png");
}

.listss {
float: right;
width: 75%;
}

.col ul li a {
color: #4B4B4B;
font-style: normal;
font-size: 13px;
}

.link-box {width: 96%;margin: auto;}

.title-posion h3 {
color: #373737;
text-align: left;
font-size: 28px;
padding: 0px 0px 0px 10px;
font-weight: lighter;
}

.title-posion p {
color: #808080;
text-align: left;
padding: 0px 0px 20px 10px;
font-style: italic;
}

.title-posion {
float: left;
width: 50%;
}

.title-line img {
float: left;
width: 50px;
margin: 0px 5px 0px 0px;
}

.title-line h4 {
color: #373737;
font-size: 20px;
font-weight: 100;
padding: 0px 0px 8px 0px;
}

.title-line p {
width: 84%;
float: left;
text-align: left;
font-weight: lighter;
font-size: 13px;
color: #828282;
line-height: 22px;
padding: 0;
}

.title-line {
float: left;
padding: 0px 0px 20px 0px;
width: 100%;
background-image: url(../images/bottom-shadow.png);
background-position: bottom;
background-repeat: no-repeat;
}

.big-monile {
float: left;
width: 47%;
margin: 0px 0px 0px 20px;
}

.title-box {
width: 92%;
margin: auto;
margin-top: 30px;
}

/*================================Start Portfolio*/

.portfolio-box {
background: #f8f8f8;
width: 100%;
border: 1px solid #e6e6e6;
border-width: 3px 0px 3px 0px;
margin: auto;
}

.scroll-text {
  border: 1px solid red;
  width: 400px;
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
  width: 800px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}
.scroll-img {
width: 100%;
height: auto;
overflow: hidden;
font-size: 0;
float: left;
margin: 0px 0px 20px 0px;
}
.scroll-img ul {
  width: 700px;
  height: auto;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#demo4.scroll-img ul, #demo5.scroll-img ul {
width: 100%;
}
#demo5-btn,#demo4-btn {
padding-top: 10px;
float: right;
display:none;
}
#demo6 {
  width: 412px;
}
#demo6-queue {
  width: 680px;
}
#demo6 p, #demo6-queue p {
  width: 124px;
  height: 124px;
  background-color: lightgray;
  font-family: 'Amaranth', sans-serif;
  font-size: 82px;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}

.portfolio-box h2{
font-weight: lighter;
margin: 10px 0px 20px 10px;
color: #494949;
font-size: 22px;
}

.clients h2 {
font-weight: lighter;
margin: 10px 0px 20px 10px;
color: #494949;
font-size: 22px;
}

.portfolio-box h2 span {
font-size: 13px;
font-style: normal;
font-weight: lighter;
margin-top: 9px;
}

.portfolio-box h2 i {
color: #C7C7C7;
padding: 6px 6px 0px 0px;
float: left;
}

.web-image h2 {
color: #90c404;
font-size: 16px;
}

.web-image h2 span {
color: #888888;
float:left;
font-weight:lighter;
width:100%;
}

#demo5-backward , #demo4-backward{
background: #004e9e;
border: 0;
color: #fff;
padding: 5px 10px 5px 10px;
border-radius: 2px 0px 0px 2px;
cursor: pointer;
}

#demo5-forward , #demo4-forward {
background: #004e9e;
border: 0;
color: #fff;
padding: 5px 10px 5px 10px;
border-radius: 0px 2px 2px 0px;
cursor: pointer;
}

.web-image h2 span i {
color: #dfdfdf;
float: right;
font-size: 20px;
font-weight: lighter;
margin: -6px 4px 0px 0px;
}

.web-image {
background: #FFF;
margin: 0px 25px 20px 25px;
height: 238px;
width: 220px;
border: 1px solid #EBEBEB;
padding: 10px;
box-sizing: border-box;
border-width: 1px 1px 3px 1px;
box-shadow: inset 0px 0px 7px 2px #F5F5F5;
}

.web-image img {
width: 100%;
height: 140px;
}

/*=============Start Clients*/

.clients {
margin: 20px 0px 10px 0px;
width: 100%;
float: left;
}


/*Lightbox Css Here*/

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.left-box {
float: left;
width: 74%;
}

.right-bar {
float: left;
width: 24%;
margin: 0px 0px 0px 10px;
}

.textbar {
background: #fafafa;
border: 1px solid #eaeaea;
padding: 8px 0px 8px 10px;
width: 250px;
border-radius: 4px;
font-weight: bold;
font-style: italic;
margin: 0px 0px 15px 5px;
}

.buton {
margin: 0px 0px -3px -32px;
width: 15px;
}

.single-image img {
width: 100%;
margin: 0px 0px 10px 0px;
height: 100%;
}

.single-image {float: left;width: 29.7%;margin: 0px 30px 70px 0px;border-bottom: 3px solid #f4f4f4;background: #fff;padding: 0px 0px 16px 0px;}
.single-image h2 a {
color: #90c404;
font-size: 17px;
font-weight: lighter;
padding: 0px 0px 0px 5px;
float: left;
}



.single-image h2 span a {
color: #888888;
font-size: 13px;
font-style: normal;
}.single-image h2 i {float: right;margin: 0px 6px 0px 0px;font-size: 18px;color: #dfdfdf;}
.single-image h2 i:hover {color: #004e9e;}

.right-bar h2 i {
color: #e0e0e0;
font-size: 21px;
}

.right-bar h2 {
color: #004e9e;
font-size: 24px;
font-weight: bold;
margin: 0px 0px 0px 5px;
border-bottom: 1px solid #E7E7E7;
padding: 0px 0px 4px 0px;
font-family: sans-serif;
}

.right-bar .list {
float: left;
margin: 10px 0px 0px 25px;
}

.right-bar .list li {
list-style-image: url(../images/list--arrow.jpg);
font-size: 14px;
padding: 2px 0px 5px 0px;
}

.right-bar .list li a{color:#686868;}

.paralaxxe {
background: url(../images/paralaxx-bg.jpg);
height: 130px;
margin: 0px 0px 0px 0px;
background-size: cover;
border-bottom:4px solid rgba(0, 78, 158, 0.28);
border-top:4px solid rgba(0, 78, 158, 0.28);
}

.paralaxxe h2 {
color: #fff;
font-size: 36px;
padding: 15px;
}

.bg-cover {
background: url(../images/title-cover-bg.jpg);
height: 100px;
background-size: cover;
border: 1px solid rgba(0, 78, 158, 0.32);
background-repeat: no-repeat;
border-width: 0px 0px 4px 0px;
margin: -20px 0px 30px 0px;
float: left;
width: 100%;
background-position: 0% 50%;
}

.bg-cover h2 {
padding: 10px 14px 14px 14px;
color: #fff;
letter-spacing: 1px;
font-size: 26px;
text-shadow: 2px 2px 7px #D5D5D5;
margin: 23px 0px 0px 0px;
background: #90c404;
float: left;
border-radius: 0px 15px 0px 15px;
text-align: center;
border: 1px solid #729C01;
box-sizing: border-box;
font-weight: bold;
font-family: inherit;
}

.bg-cover ul{float:left;display:none;}

.bg-cover ul li {
display: inline;
padding: 4px;
font-size: 18px;
font-weight: bold;
font-style: italic;
margin: 0px 20px 0px 0px;
text-shadow: 2px 2px 7px #383838;
}

.bg-cover ul li a{color:#fff;}

.enquirybox {
background: url("../images/enquiry-bg.jpg") repeat-x #fff;
float: left;
width: 100%;
box-sizing: border-box;
padding: 0px;
margin: 0px 0px 20px 0px;
border-radius: 4px;
border: 0px solid #D6D6D6;
background-size: 2%;
}

.enquirybox h2 {
color: #fff;
font-size: 30px;
font-weight: bold;
margin: 0;
text-align: center;
padding: 11px 0px 15px 0px;
border: 0;
background: url("../images/enquiry-title-bg.png") no-repeat;
height: 75px;
background-size: 100%;
overflow: hidden;
}

.enquirybox h2 span {
color: #fff;
font-weight: lighter;
}

.text-enq {
width: 90%;
margin: 1% 5% 5% 5%;
box-sizing: border-box;
padding: 7px;
border: 1px solid #CACACA;
border-radius: 4px;
font-style: italic;
font-family: "Source Sans Pro";
color: #979797;
box-shadow: inset 1px 2px 11px 0px #E0E0E0;
}

.button {
background: rgb(184,219,13);
background: -moz-linear-gradient(top, rgba(184,219,13,1) 0%, rgba(147,198,5,1) 40%, rgba(97,163,1,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,219,13,1)), color-stop(40%,rgba(147,198,5,1)), color-stop(100%,rgba(97,163,1,1)));
background: -webkit-linear-gradient(top, rgba(184,219,13,1) 0%,rgba(147,198,5,1) 40%,rgba(97,163,1,1) 100%);
background: -o-linear-gradient(top, rgba(184,219,13,1) 0%,rgba(147,198,5,1) 40%,rgba(97,163,1,1) 100%);
background: -ms-linear-gradient(top, rgba(184,219,13,1) 0%,rgba(147,198,5,1) 40%,rgba(97,163,1,1) 100%);
background: linear-gradient(to bottom, rgba(184,219,13,1) 0%,rgba(147,198,5,1) 40%,rgba(97,163,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8db0d', endColorstr='#61a301',GradientType=0 );
cursor: pointer;
color: #fff;
border: 0;
padding: 6px 10px 6px 10px;
box-sizing: border-box;
font-weight: 700;
font-size: 15px;
font-style: italic;
border-radius: 2px;
margin: 0% 0% 4% 5%;
}

.bg-title{background: -moz-linear-gradient(left,  rgba(0,78,158,1) 0%, rgba(0,78,158,1) 62%, rgba(0,78,158,0.7) 83%, rgba(0,78,158,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,78,158,1)), color-stop(62%,rgba(0,78,158,1)), color-stop(83%,rgba(0,78,158,0.7)), color-stop(100%,rgba(0,78,158,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,78,158,1) 0%,rgba(0,78,158,1) 62%,rgba(0,78,158,0.7) 83%,rgba(0,78,158,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,78,158,1) 0%,rgba(0,78,158,1) 62%,rgba(0,78,158,0.7) 83%,rgba(0,78,158,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,78,158,1) 0%,rgba(0,78,158,1) 62%,rgba(0,78,158,0.7) 83%,rgba(0,78,158,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,78,158,1) 0%,rgba(0,78,158,1) 62%,rgba(0,78,158,0.7) 83%,rgba(0,78,158,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e9e', endColorstr='#00004e9e',GradientType=1 ); /* IE6-9 */
width:100%;
color:#ff;
}

.bg-title h2 {
color: #fff;
font-size: 18px;
padding: 4px 10px 4px 10px;
}

.page-img {
float: left;
width: 40%;
margin: 20px 10px 10px 5px;
}

.left-box p {
color: #353535;
margin: 15px 0px 0px 0px;
font-size: 14px;
line-height: 25px;
}

.green-title {
color: #90c404;
font-size: 20px;
margin: 10px 0px 10px 0px;
}

.features {
float: left;
width: 57%;
margin: 10px 0px 10px 0px;
}


.features li {
float: left;
width: 100%;
list-style: none;
color: #444444;
margin: 0px 0px 12px 0px;
font-size: 14px;
font-style: normal;
padding: 0px 0px 0px 20px;
background: url(../images/tick.png) no-repeat;
background-position: 3px 4px;
}


.signup {
width: 100%;
border: 1px solid #DBDBDB;
border-radius: 6px 6px 0px 0px;
overflow: hidden;
border-width: 0px 1px 1px 1px;
margin-bottom: 20px;
background: #fff;
}


#signup {
border-radius: 0px;
margin-bottom: 6px;
}
.signup p {
border: 0;
width: 100%;
margin: 10px 0px 10px 0px;
}

.signup p label {
width: 25%;
float: left;
text-align: right;
padding: 6px 10px 0px 0px;
color: #878787;
font-size: 13px;
}

.textbox {
width: 63%;
padding: 6px;
border: 1px solid #ebebeb;
border-radius: 3px;
box-shadow: inset 2px 2px 2px #F0F0F0;
padding-left: 30px;
box-sizing: border-box;
margin: 0px 0px 0px 6px;
color: #8F8F8F;
}
.textbox:focus {border: 1px solid #AAE900;box-shadow: 0px 0px 4px #90c404;}

#name {background: url("../images/user-icon.png") no-repeat;background-position: 2px 3px;}
#email {background: url("../images/email-icon.png") no-repeat;background-position: 2px 3px;}
#phone {background: url("../images/phone-icon.png") no-repeat;background-position: 2px 3px;}
#dob {background: url("../images/dob-icon.png") no-repeat;background-position: 2px 3px;}
#url {background: url("../images/url-icon.png") no-repeat;background-position: 2px 3px;}
#pass {background: url("../images/pass-icon.png") no-repeat;background-position: 2px 3px;}
#cpass {background: url("../images/conf-pass.png") no-repeat;background-position: 2px 3px;}

.signup .button {margin: 0px 0px 0px 7px;}
#signup h2 {padding: 0px;}
#signup i {color: #fff;font-size: 14px;}

@media screen and (max-width: 760px){

.container{width:100%;}

}/* CSS Document */

.menu-SB {
margin: 4px 0px 0px 10px;
padding: 3px 5px 3px 5px;
width: 220px;
border: 2px solid #999999;
border-radius: 4px;
box-sizing: border-box;
background: url("http://www.sunwebsoft.com/resources/front/images/search-go.png") #fff no-repeat;
background-size: 14px;
background-position: 96% 50%;
}


/*
.cntr{
	width:1001px;
	margin:0px auto;
}*/

.cntr ul li{list-style:none;}

ul.table_1 {
    background: #19384C;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0 20px;
    width: 20%;
	text-align:center;
	margin-top:51px;
}

ul.table_1 li.txhd {
font-size: 22px;
font-weight: 400;
padding-bottom: 15px;
}

.cntr ul li b {
font-weight: lighter;
}


ul.table_1 li {
padding: 10px 0px;
font-weight: lighter;
font-size: 15px;
height: 22px;
}

ul.table_1 li:nth-child(even){
	background:#11A2CD;


}

/**/

ul.table_2 {
background: #F8F8F8;
border-radius: 5px;
border: 1px solid #EEE;
box-sizing: border-box;
color: #000000;
float: left;
font-size: 15px;
font-weight: 400;
padding: 0px 5px 20px 0px;
width: 18%;
text-align: center;
margin-left: 4px;
margin-top: 53px;
}

span.cent{
	font-family:Arial;
	font-size:18px !important;
}

ul.table_2 li.txhd {
	border-bottom:solid 2px #22919f;
	padding-top:0px;
	padding-bottom:11px;
}

ul.table_2 li{
	padding:10px 0px;
	font-weight:400;
}

ul.table_2 li span{
	font-size:13px;
}

ul.table_2 li:nth-child(even){
	background:#ECECEC;
}

/**/

ul.table_3 {
background: #ffffff;
border-radius: 5px;
box-sizing: border-box;
color: #000000;
float: left;
font-size: 15px;
font-weight: 400;
padding: 5px 0px 15px 0px;
width: 21%;
text-align: center;
position: relative;
z-index: 9999;
margin-left: -5px;
box-shadow: 0px 0px 15px 2px #E2E2E2;
margin-top: 46px;
}

ul.table_3 li.txhd {
	border-bottom:solid 2px #22919f;
	padding-top:0px;
	padding-bottom:11px;
	background:#FFFFFF !important;
}

ul.table_3 li{
	padding:10px 0px;
	font-weight:400;
}

ul.table_3 li span{
	font-size:13px;
}

ul.table_3 li:nth-child(odd){
	background:#ECECEC;
}

.pricing {
font-size: 22px;
font-family: sans-serif;
color: #555;
padding-top: 15px;
}

h2.pricing span {
color: #0073AA;
font-size: 15px !important;
}

.pricing font {
font-size: 18px;
margin-top: 21px;
line-height: 40px;
color: #8DC5E0;
}


.recomd {
    background: url("../images/yellow.png") no-repeat 0 0;
    color: #000;
    font-size: 12px;
	font-weight:700;
    height: 27px;
    left: -30px;
    line-height: 27px;
    position: absolute;
    text-align: center;
    text-shadow: none !important;
    text-transform: uppercase;
    top: 22px;
    transform: rotate(-45deg);
    width: 131px;
}

.org{
	color:#0073AA;
	font-size:16px;
}

.bbtn{
	margin-top:5px;
}

/**/

ul.table_4 {
    background: #F8F8F8;
	border:1px solid #EEE;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0px 20px 5px;
    width: 18%;
	text-align:center;
	position:relative;
	margin-left:-5px;
	margin-top:54px;	
}

ul.table_4 li.txhd {
	border-bottom:solid 2px #22919f;
	padding-top:0px;
	padding-bottom:11px;
}

ul.table_4 li{
	padding:10px 0px;
	font-weight:400;
}

ul.table_4 li span{
	font-size:13px;
}

ul.table_4 li:nth-child(even){
	background:#ECECEC;
}

/**/

ul.table_2 li{min-height:22px;}
ul.table_3 li{min-height:22px;}
ul.table_4 li{min-height:22px;}
ul.table_5 li{min-height:22px;}

ul.table_5 {
    background: #F8F8F8;
	border:1px solid #EEE;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0px 20px 0px;
    width: 18%;
	text-align:center;
	margin-left:4px;
	margin-top:54px;
}

ul.table_5 li.txhd {
	border-bottom:solid 2px #22919f;
	padding-top:0px;
	padding-bottom:11px;
}

ul.table_5 li{
	padding:10px 0px;
	font-weight:400;
}

ul.table_5 li span{
	font-size:13px;
}

ul.table_5 li:nth-child(even){
	background:#ECECEC;
}

/**/

.simple-btn {
background: #636262;
border: 0;
color: #fff;
padding: 5px;
width: 100px;
border-radius: 3px;
font-weight: bold;
cursor: pointer;
}
 
 
.top-contacts .quote {
width: 170px;
margin: 5px 0px 0px 0px;
}

.top-contacts .livechat {
width: 100px;
margin: 0px 0px 0px 0px;
}


.top-nav {
float: right;
list-style: none;
}

.top-nav li {
display: inline;
color:#E5E5E5;
}

.slider {
width: 100%;
margin: -24px 0px -20px 0px;
}

.links-bg {
background: url("../images/link-bg.jpg") repeat-x;
width: 100%;
margin: -30px 0px 0px 0px;
}

.links-bg .container {
padding-top: 21px;
}



.footer {
width: 100%;
background: url("../images/footer-bg.png") no-repeat #004e9e;
margin: auto;
background-size: cover;
height:auto;
}

.footer-col {
margin: 20px 0px 0px 0px;
float: left;
width: 24%;
box-sizing: border-box;
padding: 5px;
}

.footer-col h2 {
color: #fff;
font-size: 23px;
margin-bottom: 25px;
}

.footer-col p {
color: #cae4ff;
font-size: 14px;
margin-bottom: 12px;
}

.footer-col p span {
color: #fff;
font-weight: 700;
}

.footer-col .ul {
float: left;
}

.footer-col .ul li {
list-style: none;
margin-bottom: 3px;
font-size: 14px;
}

.footer .ul li a{color:#cae4ff;}

.footer .ul li:before {
    content: "• ";
    color: rgb(150, 150, 150); /* or whatever color you prefer */
}

.likebox {
width: 260px;
float: left;
}
.footer-btm {
background: url("../images/footer-btm.png") #000;
margin-top: 20px;
}

.footer-btm ul {
float: left;
margin: 10px 0px 10px 0px;
}

.footer-btm ul li {
display: inline;
border-right: 1px solid #777777;
padding: 0px 10px 0px 5px;
font-size: 14px;
}

.footer-btm ul li a {
color: #fff;
}
.item {
			text-align:center;
			float:left;
			position:relative;			
		}
		
			.item,
			.item-hover,
			.item-hover .mask,
			.item-img,
			.item-info {
			height: 180px;
			}

			.item-hover,
			.item-hover .mask,
			.item-img { 
				position:absolute;
				top:0;
				left:0;			
				width:100%;
			}			
		
			.item-type-line .item-hover {	
				z-index:100;	
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				transition: all 300ms ease-out;	
				opacity:0;
				cursor:pointer;						
				display:block;
				text-decoration:none;
				text-align:center;
			}
			
				.item-type-line .item-info {
				z-index: 10;
				color: #ffffff;
				display: table-cell;
				vertical-align: middle;
				position: relative;
				z-index: 5;
				text-align: center;
				width: 100%;
				float: left;
				padding: 30px 0px 0px 0px;
				}
			
				.item-type-line .item-info .headline {
					font-size:20px;					
				}
				
				.item-type-line .item-info .line {
					 height:1px;
					 width:0%;
					 margin:15px auto;
					 background-color:#ffffff;
					-webkit-transition: all 500ms ease-out;
					-moz-transition: all 500ms ease-out;
					-o-transition: all 500ms ease-out;
					transition: all 500ms ease-out;					 

				}
				
				.item-type-line .item-info .date {
					font-size:12px;
				}
				
				.item-type-line .item-hover .mask {
					background-color:#000;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);										
					opacity:0.5;
					z-index:0;
				}
				
				.item-type-line .item-hover:hover .line {
					width:40%;
				}
				
				.item-type-line .item-hover:hover {
					opacity:1;
				}				
			
			.item-img {			
				z-index:0;			
			}  

.single-image.item.item-type-line h2 {
top: 100%;
float: left;
position: relative;
text-align: left;
padding: 0px 0px 0px 0px;
width: 100%;
background: #fff;
border-bottom: 3px solid #f4f4f4;
}
  
.zoom i {
font-size: 40px;
padding: 10px 0px 10px 0px;
}

#container{
box-shadow: 0px 0px 5px 1px #ccc;
margin-top: -20px;
background: rgba(248, 248, 248, 0.32);
padding-top: 24px;
}

.small-imagee {
text-align: center;
margin: 0px 0px 0px 90px;
}

.Ctable {
width: 80%;
margin: auto;
}

.Ctable b {
float: left;
margin: 0px 5px 20px 0px;
font-size: 14px;
color: #004e9e;
width: 20%;
padding: 0px 0px 0px 0px;
}


.Ctable h2 {
font-size: 30px;
color: #292929;
font-weight: lighter;
border-bottom: 1px solid #ccc;
}

/*----start-comment-section---*/
.comment-section {
    clear: both;
    margin: auto;
    position: relative;
    width: 1111px;
}
h4.style1 a {
	font: 400 20px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-transform: uppercase;
	padding: 1em 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h3.style {
	font: 400 13px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	text-transform: uppercase;
	padding: 0.8em 0 0;
}

p.para {
font-size: 0.875em;
color: #848484;
margin: 0.6em 0;
line-height: 1.8em;
font-weight: lighter;
font-family: sans-serif;
}
.grids_of_2 h2 {
	font:400 30px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	padding: 1em 0 0.5em;
}
.grid1_of_2{
	margin-top: 0.8em;
}
.grid_img{
	float: left;
	width: 8.33333%;
	margin-right: 2%;
}
.grid_text{
	float: left;
	width:88.33333%
}
.grid_text h3{
	text-align:left;
}
.btn1{
	display: inline-block;
	text-align: left;
	font-size: 0.875em;
	color:#363636;
	line-height: 1.8em;
	padding: 2px 0;
	font-family: 'Open Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	font-weight: 400;
}
.btn1:before{
	content:url('../images/reply.png');
	float:left;
}
.btn1:hover{
	zoom: 1;
	color:#B9CB41;
}
.grid1_of_2.left{
	margin-left: 14%;
}
/*---comment-box----*/
.artical-commentbox {
	margin: 1em 0;
}
.table-form{
	margin: 0em auto;
}
.table-form form input[type="text"]{
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(192, 192, 192, 0.61);
	outline: none;
	padding: 12px;
	color: #333333;
	overflow: hidden;
	width: 30%;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form textarea{
	font-family: 'Open Sans', sans-serif;
	padding: 8px;
	outline:none;
	color: #333333;
	border: 1px solid rgba(192, 192, 192, 0.61);
	width:60%;
	height:180px;
	resize: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form form input[type="text"]:hover,.table-form textarea:hover{
	border: 1px solid #B9CB41;
}
.table-form input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor:pointer;
	font-size: 1em;
	outline:none;
}
.table-form input[type="submit"]:hover{
	color:#B9CB41;
	border: 1px solid #B9CB41;
}
.table-form label{
	display: block;
	margin: 0.4em 0 0.5em;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-weight:100;
}
.table-form div{
	margin:0.5em 0;
}
.table-form div {
	margin: 1em 0;
}
/*----//End-comment-section---*/

#full-portfolio {
width: 100%;
margin: 50px 0px 0px 0px;
}

#full-portfolio .single-image.item.item-type-line {
width: 22%;
}

#full-portfolio h2 {
margin: 0px 0px 25px 0px;
}


@media screen and (max-width: 760px){

.footer-col {
width: 100%;
text-align: center;
clear: both;
}

.footer-col .ul {
float: none;
}

.footer-col iframe {
text-align: center!important;
margin: auto!important;
float: none!important;
}
.title-posion {
    float: left;
    width: 100%!important;
}

}

@media screen and (max-width: 760px){
#slide1 {background-size: 100%!important;}
#slide2 {background-size: 100%!important;}
.da-slider {min-height: 160px!important;}
.col {width: 96%!important;}
.col .image {width: 40%!important;}
.listss {width: 56%!important;}

.title-posion {width: 100%!important;}



.scroll-img ul li {
    margin: 10px 0 10px 10px;
    float: left;
    width: 45%!important;
    box-sizing: border-box;
}
}











